html{
    scroll-behavior: smooth;
}
*{
    font-family: Montserrat, Helvetica, sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
}

h2{
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: gainsboro;
}

#darkMode{
    cursor: pointer;
}

#lightMode{
    display: none;
    cursor: pointer;
}

/* JUMBOTRON */
.jumbotron {
    /* background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(103, 242, 255, 0.582)), url(/Images/IMG_5490.jpeg); */
    background:  url(/Images/IMG_5490.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    height: 1500px;
    overflow: hidden;
}
.jumbotronTitle{
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: overlay;
    text-transform: uppercase;
    font-size: 18rem;
    letter-spacing: 100px;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.jumboText{
    color: white;
    font-size: larger;
}
.jumboAuthor{
    color: white;
    font-size: large;
    
}

/* MAPINDEX */
.mapIndex{
    margin-top: -35px;
    /* background: url(/Images/zero.png);
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: cover; */
    
    width: 100%;
}
.mapIndex img{
    width: 100%;
}

/* CONTAIN */
.contain{
    margin-top: -35px;
    display: flex;
    background-color: black;
}
.indexrow{
    margin: auto;
    width: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
}


#email {
    width: 300px;
}

#appSummary {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img-top {
    width: 100%;
}

#appStoreIcon {
    width: 200px;
}

/* ----------------------- */
/* FOOTER */
/* ----------------------- */
footer{
    color: white;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.bottom{
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom span{
    color: rgb(86, 86, 86);
}

@media only screen and (max-width: 1024px) {
    .jumbotron{
        height: 900px;
    }
    .jumbotronTitle{
        font-size: 8rem;
        letter-spacing: 30px;
    }

    .indexrow p{
        font-size: small;
    }

    /* FOOTER */

    footer{
        padding-top: 75px;
    }
      
    
    .bottom{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 425px) {
    .jumbotron{
        height: 400px;
    }
    .jumbotronTitle{
        font-size: 5rem;
    }
    .indexrow h2{
        font-size: small;
    }
    .indexrow p{
        font-size: .1rem;
    }

    /* FOOTER */
    footer{
        /* padding-top: 40px; */
    }

    .bottom{
        margin-top: 35px;
    }
    .footerLinks .footerColumn .col-6{
        display: none;
        background-color: aqua;
    }
}

/* SWIPPER */
.sectionFour{
    /* color: #000; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    text-align: center;
    padding: 80px 0;
    margin: auto;
}
.sectionFour h1{
    padding: 50px 0;
    text-transform: uppercase;
}
    