.btnScrollTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    border-radius: 50%;
    /* color: white; */

}

.subTitle{
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: overlay;
    text-transform: uppercase;
    font-size: 18rem;
    letter-spacing: 100px;
    font-weight: 900;
    margin: auto;
    text-align: center;
    
    /* position: fixed; */
    /* white-space: nowrap; */
    /* transform: translateX(50%); */
}

.textHero{
    color: white;
    width: 60%;
    margin: auto;
    padding-top: 150px;
    text-align: center;
    font-size: larger;
}

.sectionOne{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionOne .textOne{
    font-size: 1.5rem;
}

.sectionTwo{
    display: flex;
    flex-wrap: wrap;
    
}
.sectionTwo img{
    width: 50%;
}

.sectionThree{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
}

.sectionThree img{
    width: 50%;
}
.sectionThree p{
    width: 50%;
    padding: 0 100px;
    font-size: larger;
}

.sectionFive{
    display: flex;

}

.sectionFive img{
    width: 33.33%;
}

@media only screen and (max-width: 1024px) {
    .subTitle{
        margin-top: 50px;
        font-size: 8rem;
        letter-spacing: 30px;
        position: static;
        text-align: center;
    }

    .sectionThree p{
        padding: 0 50px;
        font-size: larger;
        text-align: center;
        width: 50%;
        margin: auto;
        font-size: medium;
    }
}
@media only screen and (max-width: 425px) {
    .subTitle{
        font-size: 5rem;
        letter-spacing: 10px;
        /* font-size: small; */
        /* position: static;
        text-align: center; */
    }

    .textHero{
        font-size: smaller;
    }

    .textOne{
        width: 80%;
    }

    .sectionThree p{
        font-size: smaller;
        padding: 0;
        margin: auto;
        width: 40%;
    }

    .aboutH1{
        font-size: 1rem;
        
    }
}

/* ABOUT */
.darkMode{
    background-color: black;
    color: white;
}

.aboutH1{

}

.aboutText{
    padding:10px 50px;
}